.panelHome {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.paneRight {
    flex: 2;
    background-color: rgba(221, 202, 221, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    height: calc(100vh - 200px);
}

.cartTitle{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.groupButton{
    display: flex;
    justify-content: space-between;
}

.groupButton > button{
    min-width: 100px;
    margin-right: 10px;
}

.containerTable{
    display: flex;
    overflow-y: scroll;
    margin-top: 10px;
    max-height: calc(100vh - 350px);
}


